<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>

<body>

<h1>Agregar nuevo libro</h1>

<div th:if="${mensaje}">
    <p th:text="${mensaje}"></p>
</div>

<div th:if="${error}">
    <p th:text="${error}"></p>
</div>


<form th:action="@{/libros/guardar}" th:object="${libro}" method="post" id="libroForm">
    <input type="hidden" name="id" id="id" th:field="*{idLibro}">
    <label for="isbn">ISBN: </label>
    <input type="text" id="isbn" name="isbn" placeholder="Ej: 12345678" th:field="*{isbn}">
    <br><br>
    <label for="titulo">TITULO: </label>
    <input type="text" id="titulo" name="titulo" placeholder="Ej: nombre Libro" th:field="*{titulo}">
    <br><br>
    <label for="anioPublicacion">AÑO PUBLICACIÓN</label>
    <input type="number" id="anioPublicacion" name="anioPublicacion" placeholder="2025" th:field="*{anioPublicacion}">
    <br><br>
    <label for="stock">STOCK</label>
    <input type="number" name="stock" id="stock" placeholder="10" th:field="*{stock}">
    <br><br>
    <button type="submit" id="enviar" name="enviar">Enviar</button>

</form>

</body>

</html>